@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Blokada";
}

<hgroup>
    <h1 class="text-danger">Blokada.</h1>
    <h2 class="text-danger">Dane konto zostało zablokowane, spróbuj ponownie później.</h2>
</hgroup>