@{
    ViewBag.Title = "Synchronizacja danych";
}

<div class="jumbotron">
    <h1 class="text-center">Synchronizacja danych</h1>
    <br />
    <p class="text-center">Przepraszamy, serwis w tej chwili jest niedostępny z powodu synchronizacji danych.</p>
    <p class="text-center">Zapraszamy ponownie za jakiś czas.</p>
</div>