<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <add key="SAPSandboxApiPath" value="http://192.168.88.232/{0}" />
      <add key="SAPSandboxApiToken" value="token.php" />
      <add key="SAPSandboxApiInfo" value="info.php" />
      <add key="SAPSandboxApi" value="api.php" />
      <add key="SAPSandboxApiGetRequest" value="?{0}={1}"/>
    </appSettings>
</configuration>