@model SAP.Web.Models.CompilerViewModel
@{
    ViewBag.Title = "Testowy kompilator";
    var list = ViewBag.Compiler as IEnumerable<SelectListItem>;
}

<script type="text/javascript" src="~/Content/edit_area/edit_area_full.js" language="javascript"></script>
<script type="text/javascript" language="javascript">
        editAreaLoader.init({
            id: "textarea_1"
            , language: "pl"
           , syntax: "c"
           , start_highlight: true
           , min_height: 500

        });
</script>

<h2>Kompilator.</h2>
<h4>Zapoznaj się z funkcjonowaniem kompilatora online.</h4>
<hr />

@using (Html.BeginForm("Output", "Compiler", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.TextAreaFor(x => x.Program, new { @id = "textarea_1" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.SelectedCompiler, new { @class = "control-label col-md-2"} )
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.SelectedCompiler, list, "Wybierz jezyk", new { @class = "form-control" } )
        </div>
    </div>

    <div class="col-md-offset-2 col-md-10">
        <input class="btn btn-success" type="submit" value="Wykonaj" />
    </div>
}